---
layout: layout1
---

<body>
<div class="sixteen columns">
<div class="five columns alpha">
    <div id="resume_menu">
        <ul>
            <li><h4><a href="/resume/education.html">Education</a></h4></li>
            <li><h4><a href="#">Professional Experience</a></h4></li>
            <li><h4><a href="/resume/research.html">Research</a></h4></li>
            <li><h4><a href="#">Civic Engagement</a></h4></li>
            <li><h4><a href="/resume/interests.html">Additional Interests</a></h4></li>
        </ul>
    </div>
    
 
<!--{% for post in site.posts limit:4 %}

<h3>

<a href="{{ post.url }}">{{ post.title }}</a>

</h3>
<span>{{ post.date | date: '%B' }} {{ post.date | date: '%e' }}, {{ post.date | date: '%Y' }}</span>


{% endfor %}-->
</div>

<div class="eleven columns omega">
    <div id="resume_info">
        {{ content }}
    </div>
</div>
</div>


</body>  